<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
        <h1>Bowling Alley</h1>
        <h2>Come bowl with us!</h2>
        <p>1234 Bowling Alley, Dallas, Texas 78910</p>
    </body>
</html>